/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
 @import "bootstrap";

body {
  color: black;
  font-family: Arial;
  background-size: auto;
  // background-image: url('https://images6.alphacoders.com/330/330109.jpg');
  background-color: inherit;
}

#notice {
  color: green;
}

.page {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

.page td, .page th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  position: static;
}

.page tr:nth-child(even){background-color: #f2f2f2;}

.page tr:hover {background-color:#f2f2f2 ;}

.page th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: gray;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.row {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.row {
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.row {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: auto;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .row[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
