<title>Donate Books</title>

<body>
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="text-lg-left">
    <h1 class="display-1">Donate Books</h1>
    <p class="lead">A One Stop Shop For Giving And Recieving Books For Free.</p>
    <%= yield %>
